@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

* {
    padding:0px;
    margin:0px;
}

body{
    background-image: url("../assets/bg.jpg");
    background-size: cover;
}

.main{
    margin:50px 50px;
    color:#ffffff;
}

.header{
    display: flex;
    justify-content: space-between;
    font-family: 'Oxygen';
    font-weight: 700;
}

.logo{
    font-size: 30px;
}

.nav-bar{
    width: 80%;
    border-bottom: 2px solid #ffffff;
}

.nav-bar > ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-link{
    text-decoration:none;
    color:unset;
    font-size: 20px;
}

.nav-item.call{
    width: 30%;
}

#call{
    float: left;
}

.content{
    position: relative;
}

.content-left{
    padding-top:100px;
}

.content-left h1{
    font-family: 'Oxygen';
    font-weight: 700;
    font-size: 60px;
}

.more-btn{
    margin:50px 0px;
}

.more-btn button{
    padding:20px 50px;
    border-radius:35px;
    border:3px solid #ffffff;
    background: transparent;
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
}

.sticky1{
    position: absolute;
    top:50px;
    right:50px;
    background-color: #554D3D;
    opacity: .9;
    width: 250px;
    height: 120px;
    padding:20px;
    padding-top:0px;
    font-weight: 700;
    font-family: 'Oxygen';
}

.sticky2{
    position: absolute;
    top:300px;
    right:200px;
    background-color: #554D3D;
    opacity: .9;
    width: 250px;
    height: 120px;
    padding:20px;
    padding-top:0px;
    font-weight: 700;
    font-family: 'Oxygen';
}


.sticky1-card{
    width: 80px;
}

.sticky2-card{
    width: 80px;
}

@media (max-width:1200px){
    .main{
        margin:30px 30px;
    }

    .nav-link{
        font-size: 15px;
    }

    .logo{
        font-size: 20px;
    }

    .content-left h1{
        font-size: 40px;
    }

    .more-btn button{
        padding:15px 30px;
    }
}

@media (max-width:900px){
    .nav-link{
        display: none;
    }

    .nav-item.call .nav-link{
        display: block;

    }

    .nav-item.call{
        width: 60%;
    }
    
    .nav-bar{
        border-bottom: none;
    }

    .content-left{
        padding-top:50px;
    }

    .content-left h1{
        font-size: 30px;
    }

    .content{
        position: unset;
    }

    .sticky1{
        position: unset;
        inset: unset;
        width: 90%;
        height: unset;
        padding:10px;
    }

    .sticky2{
        position: unset;
        inset: unset;
        width: 90%;
        height: unset;
        padding:10px;
        margin-top: 20px;
    }
}